@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Progetto-BE-S5L5</h1>
    <p>La Pagina Home non e' ancora stata allestita si prega di usare la navbar per accedere alla varie sezioni interessate</p>
</div>
